.register-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  position: relative;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  top: 48px;
  right: 45px;

  cursor: pointer;
}

.wrap-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

label {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  font-weight: bold;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 10px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

.required {
  color: red;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button[type="submit"] {
  width: 25%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 150px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .wrap-sec {
    flex-direction: column;
  }

  label {
    width: 100%;
  }
}
