<div class="reset-page-container">
    <h2>Reset Your Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required placeholder="Enter your new password" />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder="Confirm your new password" />
      </div>
      <button type="submit" class="reset-btn">Submit</button>
    </form>
    <p *ngIf="passwordResetSuccess" class="success-message">Your password has been successfully reset!</p>
    <p *ngIf="passwordMismatch" class="error-message">Passwords do not match. Please try again.</p>
  </div>
  